*.so
*.o

# Rmixmod
Rmixmod_[0-9]*
Rmixmod.Rcheck
Rmixmod/autom4te.cache/

# C++ components
build
CMakeFiles
mixmodLib/BUILD
mixmodIOStream/BUILD

# pyMixmod
Pymixmod/mixmod/mixmod.cpp
*.egg-info
*.pyc
.ipynb_checkpoints