on:
  push:
    branches: [ master ]
  pull_request:

name: Build C++ libraries

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install
      run: |
        sudo apt install -y cmake libeigen3-dev libxml++2.6-dev
    - name: Build
      run: |
        cmake -DCMAKE_INSTALL_PREFIX=~/.local -DCMAKE_CXX_FLAGS="-Wall -Wextra -D_GLIBCXX_ASSERTIONS" -DMIXMOD_BUILD_EXAMPLES=ON -DMIXMOD_BUILD_IOSTREAM=ON -DMIXMOD_BUILD_CLI=ON .
        make install -j2
        ctest -j2 --output-on-failure
